<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/tracker"
        android:label="Hospital Bed Availability Tracker"
        android:roundIcon="@mipmap/tracker"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".select_hospital"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".BedAvalability" />
        <activity android:name=".HospitalSelection" />
        <activity android:name=".ECGgenerator" />
        <activity android:name=".AppOptions" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>